* {
  box-sizing: border-box;
}
h1 {
  line-height: 2;
  font-size: 2rem;
}

p {
  line-height: 1.5;
  font-size: 1.25rem;
}
header {
  background-color: aqua;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: green;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  /* outline: 1px solid #000; */
}
